{% extends 'base.html.twig' %}

{% block title %}All actors{% endblock %}

{% block body %}
    <h1>All the actors in your DB: </h1>

    {% for actor in actors %}
        <div>
            <h2>{{ loop.index }} / {{ actor.name }}</h2>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}