{% extends 'base.html.twig' %}
{% block title %}Actor #{{ actors.id }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ actors.name }}</h1>
            {% for program in programs %}
                <div>
                    <a href="{{ path("program_show", { programId: program.id }) }}"><h2>{{ program.title }}</h2></a>
                </div>
            {% else %}
                <p>No actor to display</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
