<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/build/css/app.css">
    {% endblock %}

</head>
<body>
<header>
    {% include('_header.html.twig') %}
</header>
{% block body %} {% endblock %}
{% block javascripts %}
    <script src="/build/app.js"></script>
{% endblock %}
</body>
</html>
